body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 100%;
	line-height: 1.7em;
	color: #000000;


}

#container{
	width: 70%;
	margin: 10px auto;
/*	border: 1px solid gray;
*/	margin-bottom: -2.5em;
}


#top_row{
	border-bottom: 1px dotted #cccccc;
	padding: .5em .5em 3em .5em;
}
#top_row h1 {
	color: #ca1e00;
	font-size: 3.75em;
	letter-spacing: -2px;
}

#top_row h3 {
	font-size: 1.125em;
	font-weight: 200;
}
#top_row nav{
	float: right;
}
#top_row nav a{
	text-decoration: none;
	font-size: 1.125em;
	font-weight: 400;
	padding: 15px;
	color: #000000;

}

#top_row nav a.selected {
	background: #f6f6f6;
	color: #bbbbbb;
}

#top_row nav a.selected:hover {
	background: #f6f6f6;
	color: #bbbbbb;
}
#top_row nav a:hover {
	background: #f6f6f6;
	color: #ca1e00;
}


#content{
	float: left;
	width: 70%;
	margin: 0;
	padding: 1em;
	border-right: 1px dotted #ccc;
}

#content h3 {
	font-family: Georgia, serif;
	font-size: 1.5em;
	margin: 30px 0 10px 0;
	font-weight: normal;
}

#sidebar {
	float: left;
	padding: 1em;
	font-size: 0.875em;
}

#sidebar h3 {
	font-size: 1.125em;
	border-bottom: 1px dotted #ccc;
}


footer{
	clear: both;
	margin: 0;
	padding: 0.5em;
	color: #333333;
	font-variant: small-caps;
	font-size: 0.813em;
	text-align: center;
}

#content img{
	float: left;
	margin: 1em;

}

#bio {
	margin-left: 3em;
	font-size: 0.875em;
}

#bio a {
	text-decoration: none;
	border-bottom: 1px dotted #000;
	color: #000;
}
#bio a:hover{
	color: #ca1e00;
}























